
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: calibri;
    text-align-last: left;
}

body{
    margin: 0px;
}

svg .annotation.badge .annotation-subject path{
    fill: #E8336D;
    stroke-width: 0px;
    stroke-dasharray: none;
}

svg text.legend{
    text-anchor: start;
    font-family:calibri;
    fill: #E8336D
}

#container {
    position: relative;
    width: 1400px;
    height:1200px;
    background-color: white;
}
#plot1 {
    float: left;
    background-color: #fff;
    width: 1000px;
    height: 600px;
    margin: 5px auto;
    border-color:black;
}
#plot2 { 
    float: left;
    background-color: #fff;
    width: 1000px;
    height: 500px;
    margin: 5px auto;
    border-color:black;
}
#image {
    position: absolute;
    left: 1000px;
    top: 600px;
    z-index: 999;
    top: 56px;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 1px;
    padding-right: 100px;
}

h3 { white-space: nowrap; } 
p { white-space: nowrap; } 
li { white-space: nowrap; } 

.icon {
    font-size: larger;
        color: #ffffff;
        padding-right: 10px;
        border: solid 1px #BB2244;
        border-radius: 16px;
        padding-left: 10px;
        margin-right: 10px;
        background-color: #E8336D;
    }
    
.para {
    position: absolute;
    left: 1000px;
    top: 600px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    padding-top: 10px;
    padding-right: 700px;
    white-space: normal; 
    font-family:calibri;
    display: none;
}

.path {
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-opacity: 1;
    stroke: steelblue;
    stroke-linejoin: round;
}

.lines{
    stroke:steelblue;
    stroke-width: 4px;
}

.lines path{
    stroke: lightslategray;
}

.axis-grid line {
    stroke: rgba(198, 194, 194, 0.631);
    stroke-dasharray: 1ch;
}

.axislabel{
    font-weight: bold;
    font-family:calibri;
}

.title {
    font-size:x-large;
    font-weight: bold;
    font-style:normal;
    font-stretch: wider;
    font-optical-sizing:initial;
    font-family:calibri;
  }

.info {
    font-size:small;
    font-weight:normal;
    font-style:normal;
    font-stretch: wider;
    font-optical-sizing:initial;
    font-family:calibri;
  }

.button {
    transition-duration: 0.4s;
    background-color: rgb(231, 234, 240);
    border-radius: 2px;
    border: 0.5px solid #0e99f05f; /* Green */
    border-radius: 20%;
    font-weight: bold;
    position: absolute;
    left: 150px;
    top: 670px;
  }
  
.button:hover {
    background-color: #6f83e4; /* Green */
  }